{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Tools</title>
{% endblock %}

{% block menu %}
    <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'user_stats' %}">User statistics</a></li>
            <li><a href="#">Take a quiz</a></li>
        {% else %}
            <li><a href="{% url 'registration' %}">Registration</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block login %}
    {% include "included-login-form.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <img class="img-responsive" src="{% static 'img/tools_1.jpg' %}" alt="tools">
            </div>
        </div>
    </div>
{% endblock %}