{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Logout</title>
{% endblock %}

{% block menu %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Log in</a></li>
        <li><a href="{% url 'registration' %}">Registration</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <img class="img-responsive" src="{% static 'img/tools_1.jpg' %}" alt="tools">
            </div>
        </div>
    </div>
{% endblock %}