{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>User stats</title>
{% endblock %}

{% block menu %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Take a quiz</a></li>
    </ul>
{% endblock %}

{% block login %}
    {% include "included-login-form.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <table>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    User login statistics
                </th>
            </tr>
            {% for row in user_login_data %}
                <tr>
                    <td>
                        {{ row.user_name }}
                    </td>
                    <td>
                        {{ row.user_login_datetime|date:"r" }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}